# FRONTEND IGNORE
Frontend/node_modules/
Frontend/dist/
Frontend/dist-ssr/
Frontend/*.log
Frontend/*.local

# BACKEND IGNORE
Backend/__pycache__/
Backend/*.pyc
Backend/.env

# SYSTEM FILES
.DS_Store
Thumbs.db
