# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


#newly added
# Ignore node_modules
node_modules/

# Ignore logs
*.log

# Ignore build files
dist/
build/

# Ignore environment variables
.env

# Ignore OS/system files
.DS_Store
Thumbs.db
