@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black; 
    color: white;
    font-family: 'Poppins',sans-serif;

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section-title{
  padding-left: 3rem;
}

.talign{
  padding: 3px;
}

.alignfooter{
  margin-top: 50px;
  margin-left: 250px;
  margin-bottom: 20px;
}
.iconResize{
  padding-bottom: 14px;
}
.bottomT{
  padding-top: 24px;
}

.change-color {
  background-color:black; /* Change to your desired color */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.change-padding {
  padding-right: 4.5rem; /* Adjust the value as needed */
}

.change2-padding{
  padding-left: 4rem;
}

